*{
    background-color: aliceblue;
}
.container{
    height: 100vh;
}
.l1{
    display: flex;
    height: 25%;
    justify-content: center;
}
.l2{
    display: flex;
    height: 30%;
    justify-content: center;
}
.l3{
    display: flex;
    height: 25%;
    justify-content: center;
    align-items: end;
}
.blueSquare{
    background-color: rgb(44, 131, 231);
    height: 100%;
    width: 60%;
    align-content: center;
}
.yellowSquare{
    background-color: rgb(247, 237, 96);
    height: 100%;
    width: 60%;
    align-content: center;
    justify-items: end;
}
.blueLittle{
    background-color: rgb(44, 131, 231);
    height: 80px;
    width: 80px;
}
.yellowLittle{
    background-color: rgb(247, 237, 96);
    height: 80px;
    width: 80px;
    align-content: center;
}
.columns{
    justify-content: space-between;
    flex-direction: row;
}
